{% extends 'blog/base.html' %}
{% block content %}
    <h4>Bu istifadəçi giriş sistemli bir proyektdir.Siz qeydiyyatdan keçə, profilinizə giriş, çıxış edə bilərsiniz. Giriş edən istifadəçi olaraq post yarada, həmin postu yeniləyə və silə bilərsiniz. Siz həmçinin profil məlumatlarınızı yeniləyə, profil şəklinizi, istifadəçi adınızı və e-mailinizi dəyişə bilərsiniz. Giriş edərkən parolu unutsanız, "Şifrəni unutdunuz?" bölməsinə gedərək e-mailinizi yazaraq, e-mailinizə gələn link-ə keçid alaraq parolunuzu yeniləyə bilərsiniz.</h4>
{% endblock content %}